@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the sidebar */
/* .ant-menu {
  background-color: #e91111 !important;
} */

.ant-menu .ant-menu-item-selected {
  background-color: #006699 !important;
  color: #ffffff !important;
}

.ant-menu .ant-menu-item-selected a {
  color: #ffffff !important;
}

.ant-menu .ant-menu-item:hover {
  background-color: #006699 !important;
  color: #ffffff !important;
}

.ant-menu .ant-menu-submenu-title:hover {
  background-color: #006699 !important;
  color: #ffffff !important;
}

.ant-menu .ant-menu-item a {
  color: #002436;
  font-size: 14px;
}

.ant-table .ant-table-thead > tr > th::before {
  display: none !important;
}

/* For the Settings submenu header */
.ant-menu .ant-menu-submenu-title {
  background-color: #2e3f49 !important;
}

/* For the Settings submenu items */
.ant-menu .ant-menu-submenu .ant-menu-item {
  background-color: #2e3f49 !important;
}

/* Hover state for submenu items */
.ant-menu .ant-menu-submenu .ant-menu-item:hover {
  background-color: #006699 !important;
}

/* Selected state for submenu items */
.ant-menu .ant-menu-submenu .ant-menu-item-selected {
  background-color: #006699 !important;
}


.my-main-button {
  background-color: #006699 !important;
  color: #ffffff !important;
}

.my-main-button:hover {
  background-color: #0279b4 !important;
  color: #ffffff !important;
}